/* Global */

body {
  color: black;
  font-size: 1.2em;
  font-family: helvetica, sans-serif;
  line-height: 1.56em;
  margin: 0px auto 0px auto;
  width: 720px;
}

h1, h2 {
  padding-bottom: .3em;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.62em;
}

p {
  padding-bottom: 1.4em;
}

li {
  padding-bottom: 0.25em;
}

main > :last-child {
  padding-bottom: 0;
}

main ul > :last-child {
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: #606060;
}

a:hover {
  text-decoration: underline;
}

main {
  padding-top: 1em;
  border-top: 1px dotted black;
  padding-bottom: 1em;
}

/* Header */

header {
  padding-top: 1em;
  padding-bottom: 1em;
}

header h2 {
  font-size: 1.5em;
  padding-bottom: 0;
}

header h2 a:hover {
  text-decoration: none;
}

#fname {
  color: black;
}

#lname {
  color: #696969;
}

header ul {
  float: right;
}

header li {
  display: inline;
  font-size: 1.0em;
  padding-left: .3em;
}

/* Footer */

#social li {
  display: inline;
  font-size: 1.3em;
  padding-left: .3em;
}

#social a {
  color: black;
}

#social a:hover {
  text-decoration: none;
}

footer {
  border-top: solid 2px black;
  color: #555;
  font-size: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
}

footer span {
  float: right;
}

/* Blog */

.timestamp {
  display: inline-block;
  min-width: 120px;
  color: #999999;
}

/* Posts */

.post-body > :last-child {
  padding-bottom: 0;
}
