/* Centering */

#content, footer div {
  width: 900px;
  margin: auto;
  }

/* Base Style */

body {
  background-color: #eee;
  background-image: url("/images/hexabump.png");
  font-family: gesta-1, gesta-2, helvetica, sans-serif;
  font-weight: light;
  font-style: normal;
  text-shadow: 2px 2px 5px #000;
  }

em {
  font-style: italic;
  }

strong {
  font-weight: bold;
  }

a {
  text-decoration: none;
  color: #297C97;
  }

a:hover {
  text-decoration: underline;
  }

h1, h2, h3, h4, h5, h6, #fname, #lname, #tagline {
  font-family: museo-sans-1,museo-sans-2;
  font-weight: 300;
  }

#content {
  color: #aaa;
  font-size: 2em;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 50px;
  }

  #content h1, #content p {
    margin-bottom: 15px;
  }

/* Footer */

footer {
  color: #aaa;
  padding-top: 1em;
  border-top: 2px dashed #aaa;
  }

footer div {
  clear: both;
  overflow: hidden;
  margin-bottom: 1em;
  }

footer p {
  float: left;
  line-height: 2;
  }

/* @media */

/* Small Screen */
@media only screen
and (max-width: 900px) {

  #content, nav, footer div {
    width: 80%;
    }

  #content {
    font-size: 1.8em;
  }

  }

/* iPhone */

@media only screen
and (max-width: 32em) {

  #content {
    font-size: 1.5em;
  }

  footer p {
    float: none;
    width: 100%;
    text-align: center;
    }
  }
