<header>
  <ul>
    <li>
      <a class="icon-twitter" alt="Twitter" href="http://twitter.com/gfontenot"></a>
    </li>
    <li>
      <a class="icon-github-circled" alt="GitHub" href="http://github.com/gfontenot"></a>
    </li>
    <li>
      <a class="icon-mic" alt="Build Phase" href="http://buildphase.fm"></a>
    </li>
    <li>
      <a class="icon-mail" alt="Email" href="mailto:gordon@fonten.io"></a>
    </li>
  </ul>
  <h2>
    <a href="/">
      <span id="fname">Gordon</span>
      <span id="lname">Fontenot</span>
    </a>
  </h2>
</header>
