article {
  margin-bottom: 0.5em;
}

#tag-title {
  margin-bottom: 1em;
}

#blog h3 {
  display: inline;
}

#blog a {
  color: $gray;
  border-bottom: none;
}

#blog li {
  padding-bottom: 0.5em;
}

#blog li.external:after {
  content: "";
  display: inline-block;
  height: 13px;
  width: 13px;
  background-image: url("/images/external-link.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-bottom: 4px;
}

time {
  color: $light-gray;
  display: inline-block;
  font-size: .9em;
}
