<footer>
  <span>
    Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>,
    source on <a href="http://github.com/gfontenot/website-source">GitHub</a>.
  </span>
  <span id="webring">
    Proud member of the hotline webring
    (<a id="prev" href="http://hotlinewebring.club/gfontenot/previous">previous</a>,
    <a href="http://hotlinewebring.club/gfontenot/next">next</a>)
  </span>
  <ul id="social">
    <li>
      <a class="icon-twitter" alt="Twitter" href="http://twitter.com/gfontenot"></a>
    </li>
    <li>
      <a class="icon-github-circled" alt="GitHub" href="http://github.com/gfontenot"></a>
    </li>
    <li>
      <a class="icon-mic" alt="Build Phase" href="http://buildphase.fm"></a>
    </li>
    <li>
      <a class="icon-mail" alt="Email" href="mailto:gordon@fonten.io"></a>
    </li>
  </ul>
</footer>
