<div class="post">
	<h3 class="list-post-header">
	{% if post.type == "link" %}
		<a href="{{ post.source }}">&rArr; {{ post.title }}</a>
	{% else %}
		<a href="{{ post.url }}">{{ post.title }}</a>
	{% endif %}
	</h3>
	
	<div class="post_body">{{ post.content }}</div>
	{% if post.type == "link" %}
	<div class="permalink">
 		<a href="{{ post.url }}" title="Permalink for this post">&infin;</a>
	</div>
	{% endif %}
	<postamble datetime="{{ post.date | date: "%Y-%m-%d" }}">
    &mdash;{{ post.date | date: "%b %d, %Y" }}
  	</postamble>
</div>