<!DOCTYPE html>

<html lang="en">
<head>
<title>$title$</title>
<!-- <base href="http://gordonfontenot.com" /> -->
<meta charset="utf-8" />
<meta name="author" content="Gordon Fontenot" />
<meta name="designer" content="Gordon Fontenot" />
<meta name="viewport" content="width=device-width" />

<script src="javascript/analytics.js"></script>

<link href="/css/default.css" rel="stylesheet" media="all" />

<script src="javascript/typekit.js"></script>

</head>
<body>
<div id="content">
  $body$
</div>
<footer>
  <div>
    <p>
    This site powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>, hosted at <a href="http://github.com/gfontenot/gfontenot.github.com">GitHub</a>, with fonts from <a href="http://www.typekit.com">TypeKit</a>.<br />
    <!-- All content  -->&copy; 2013 Gordon Fontenot.
    </p>
  </div>
</footer>

</body>
</html>
